.resume-container{
	background-color:$beige;
	width:100%;
	padding-left: 5%;
	p{
		font-size:1.5em;
	}
	h1{
		font-weight:bold;
	}
	.basic-info{
		#chinese-name{
			display:none;
		}
		.title{
			padding-left:5%;
			padding-right:1%;
			float:left;
		}
	}

}